body{
	color: #000000;
}

@font-face {
    font-family: 'acanthus_ssiregular';
    src: url('../fonts/acanthus/acanthus_ssi-webfont.eot');
    src: url('../fonts/acanthus/acanthus_ssi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/acanthus/acanthus_ssi-webfont.woff') format('woff'),
         url('../fonts/acanthus/acanthus_ssi-webfont.ttf') format('truetype'),
         url('../fonts/acanthus/acanthus_ssi-webfont.svg#acanthus_ssiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'great_vibesregular';
    src: url('../fonts/gvAndroch/greatvibes-regular-webfont.eot');
    src: url('../fonts/gvAndroch/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gvAndroch/greatvibes-regular-webfont.woff') format('woff'),
         url('../fonts/gvAndroch/greatvibes-regular-webfont.ttf') format('truetype'),
         url('../fonts/gvAndroch/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rochesterregular';
    src: url('../fonts/gvAndroch/rochester-regular-webfont.eot');
    src: url('../fonts/gvAndroch/rochester-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gvAndroch/rochester-regular-webfont.woff') format('woff'),
         url('../fonts/gvAndroch/rochester-regular-webfont.ttf') format('truetype'),
         url('../fonts/gvAndroch/rochester-regular-webfont.svg#rochesterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#slide1{
	/*padding: 75px 200px;*/
	width: 100%;
	color: rgba(236, 240, 241,1.0);
	border-bottom: 2px solid rgba(189, 195, 199,1.0);
	background-image: url("../images/LookinFly.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 800px;
	background-color: #000000;
	min-height: 900px;

}

#slide1 .content{
	/*font-size: 2em;*/
	/*width:45%;*/
	position: relative;
	top: 175px;
	border-width: 0 20px 0 0;
	-webkit-border-top-image:url("../images/BracketTop.png") 25% repeat; /* Safari 5 */
	-o-border-top-image:url("../images/BracketTop.png") 25% repeat; /* Opera */
	border-top-image:url("../images/BracketTop.png") 25% repeat;

}

/*#slide1 .content img{
	width: 100%;
}*/

#slide1 p, #slide1 h1, #slide1 img{
	width: 45%;
	font-family: 'acanthus_ssiregular', serif;
}

#slide1 h1, h1{
	font-family: 'rochesterregular', sans-serif;
	font-size: 3.5em;
}

#slide1 p{
	text-align: justify;
}

p a, p a:link, p a:active{
	color:#c0392b;
}

p a:hover{
	color: #ecf0f1;
	text-decoration: none;
}

.carousel{
	margin-left: 30%;
	max-width: 719px;
	float: center;
}

.carousel-inner h2{
	color: #080808;
}

.carousel-inner img{
	border:5px solid #080808;
}

.carousel-caption{
	font-size: .5em;
	background-color: rgba(189, 195, 199,0.8);
	border-radius: 10px;

}

#slide3 p, #slide3 ul, #slide4 p{
	font-family: 'acanthus_ssiregular', serif;
	font-size: 1.7em;

}

#slide3{
	background-color: #080808;
	color: rgba(236, 240, 241,1.0);
}

#slide4{
	
}


/**************************
		Media Query
***************************/
@media (min-width: 1171px){
	#slide1{
		padding: 75px 150px;
	}
	 #slide1 p{
		font-size: 2em;
	}
	#slide1 h1
	{
		font-size: 6em;
		text-align: center;
	}

	/*#slide3{
		font-size: 2em;
	}*/

	#slide2, #slide3, #slide4{
		padding: 0px 100px 50px 100px;
	}
}

@media (max-width: 1170px){
	#slide1{
		background-image: url("../images/LookinFlyandNarrow.png");
		background-position: bottom right;
		background-repeat: no-repeat;
		background-size: 600px;
		padding: 75px 75px;
	}
	#slide1 h1, #slide1 p{
		width:60%;
		font-size: 1.8em;
	}

	#slide1 img{
		width: 60%;
	}

	#slide1 h1
	{
		font-size: 4em;
		text-align: center;
	}
	#slide2, #slide3, #slide4{
		padding: 0px 100px 50px 100px;
	}

	.carousel{
		margin-left: 15%;
	}
	
}

@media (max-width: 1010px){
	#slide1{
		padding: 75px 50px;
	}

	#slide1 h1, #slide1 p{
		width:45%;
		font-size: 1.7em;
	}

	#slide1 img{
		width: 45%;
	}

	#slide1 h1
	{
		font-size: 3.5em;
		text-align: center;
	}

	.carousel{
		margin-left: 5%;
	}

	.carousel-caption{
		display: none;
	}
		
}

@media (max-width: 746px){
	#slide1{
		background-image: url("../images/LookinFlyandNarrowandPale.png");
		background-color: #7a7a7a;
		padding: 20px 20px;
	}

	#slide1 h1, #slide1 p{
		width:100%;
		color: #080808;
		font-size: 2em;
	}

	#slide1 h1
	{
		font-size: 3.5em;
		text-align: center;
	}

	#slide1 img{
		width: 100%;
	}	

	/*#slide3{
		font-size: 1.2em;
	}*/

	#slide3 ul{
		margin-right: 25px;
	}
	#slide2, #slide3, #slide4{
		padding: 0px 20px 20px 20px;
	}
}

@media (max-width: 606px){

	#slide1 h1, #slide1 p{
		font-size: 1.8em;
	}

	#slide1 h1{
		font-size: 3em;
	}

	#slide3 ul{
		margin-right: 25px;
	}
}

@media (max-width: 410px){
	#slide3{
		font-size: 1.2em;
	}
}

