body{
	color: #000000;
}

#slide1{
	/*padding: 75px 200px;*/
	color: rgba(236, 240, 241,1.0);
	border-bottom: 2px solid rgba(189, 195, 199,1.0);
	background-image: url("../images/LookinFly.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 800px;
	background-color: #000000;
	min-height:900px;

}

#slide1 h1, #slide1 p{
	/*font-size: 2em;*/
	width:45%;
	position: relative;
	top: 200px;
}

#slide1 h1
{
	text-align: center;
}

p a, p a:link, p a:active{
	color:#c0392b;
}

p a:hover{
	color: #ecf0f1;
	text-decoration: none;
}

#slide1 #amp{
	width: 40px;
}

#slide2{
	padding: 100px;
}


/**************************
		Media Query
***************************/
@media (min-width: 1171px){
	#slide1{
		padding: 75px 200px;
	}
	 #slide1 p{
		font-size: 2em;
	}
	#slide1 h1
	{
		font-size: 3em;
		text-align: center;
	}
}

@media (max-width: 1170px){
	#slide1{
		background-image: url("../images/LookinFlyandNarrow.png");
		background-position: bottom right;
		background-repeat: no-repeat;
		background-size: 600px;
		padding: 75px 100px;
	}
	#slide1 h1, #slide1 p{
		width:60%;
		font-size: 1.8em;
	}
	#slide1 h1
	{
		font-size: 2.4em;
		text-align: center;
	}
}

@media (max-width: 1010px){
	#slide1{
		padding: 75px 50px;
	}

	#slide1 h1, #slide1 p{
		width:45%;
		font-size: 1.7em;
	}
	#slide1 h1
	{
		font-size: 2.3em;
		text-align: center;
	}

	p #amp{
		display: none;
	}
	
		
}

