body{
	color: #000000;
}

@font-face {
    font-family: 'acanthus_ssiregular';
    src: url('../fonts/acanthus/acanthus_ssi-webfont.eot');
    src: url('../fonts/acanthus/acanthus_ssi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/acanthus/acanthus_ssi-webfont.woff') format('woff'),
         url('../fonts/acanthus/acanthus_ssi-webfont.ttf') format('truetype'),
         url('../fonts/acanthus/acanthus_ssi-webfont.svg#acanthus_ssiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'great_vibesregular';
    src: url('../fonts/gvAndroch/greatvibes-regular-webfont.eot');
    src: url('../fonts/gvAndroch/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gvAndroch/greatvibes-regular-webfont.woff') format('woff'),
         url('../fonts/gvAndroch/greatvibes-regular-webfont.ttf') format('truetype'),
         url('../fonts/gvAndroch/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rochesterregular';
    src: url('../fonts/gvAndroch/rochester-regular-webfont.eot');
    src: url('../fonts/gvAndroch/rochester-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gvAndroch/rochester-regular-webfont.woff') format('woff'),
         url('../fonts/gvAndroch/rochester-regular-webfont.ttf') format('truetype'),
         url('../fonts/gvAndroch/rochester-regular-webfont.svg#rochesterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/****************************************
    Beginning of NavBar Customization
*****************************************/
.navbar-inverse {
	background-color: #c0392b;
	border-color: #080808;
	font-family: 'rochesterregular', sans-serif;
	letter-spacing: 5px;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-size: 1.5em;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #080808;
}
.navbar-inverse .navbar-text {
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
	font-size: 2.5em;
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #e74c3c;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #080808;
	background-color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: #e74c3c;
	background-color: #ffffff;
}
.navbar-inverse .navbar-toggle {
	border-color: #080808;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #c0392b;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: #c0392b;
}
.navbar-inverse .navbar-link {
	color: #fff;
}
.navbar-inverse .navbar-link:hover {
	color: #e74c3c;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu {
		text-align: center;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
		text-align: center;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #080808;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #080808;
		background-color: #ffffff;
	}
}
/****************************************
     End of Nav Bar Customization
 ****************************************/

#slide1{
	/*padding: 75px 200px;*/
	width: 100%;
	color: rgba(236, 240, 241,1.0);
	border-bottom: 2px solid rgba(189, 195, 199,1.0);
	background-image: url("../images/LookinFly.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 800px;
	background-color: #080808;
	min-height: 900px;

}

#slide1 .content{
	/*font-size: 2em;*/
	/*width:45%;*/
	position: relative;
	top: 175px;
	border-width: 0 20px 0 0;
	-webkit-border-top-image:url("../images/BracketTop.png") 25% repeat; /* Safari 5 */
	-o-border-top-image:url("../images/BracketTop.png") 25% repeat; /* Opera */
	border-top-image:url("../images/BracketTop.png") 25% repeat;

}

/*#slide1 .content img{
	width: 100%;
}*/

#slide1 p, #slide1 h1, #slide1 img{
	width: 45%;
	font-family: 'acanthus_ssiregular', serif;
}

#slide1 h1, h1{
	font-family: 'rochesterregular', sans-serif;
	font-size: 3.5em;
}

.content{
	text-align: justify;
}

#slide3 .content{
	line-height: 40px;
	letter-spacing: 2px;
}

p a, p a:link, p a:active{
	color:#c0392b;
}

p a:hover{
	color: #ecf0f1;
	text-decoration: none;
}

.carousel{
	margin-left: 20%;
	max-width: 719px;
	float: center;
}

.carousel-inner h2{
	color: #080808;
}

.carousel-inner img{
	border:5px solid #080808;
}

.carousel-caption{
	font-size: .5em;
	background-color: rgba(189, 195, 199,0.8);
	border-radius: 10px;

}

#slide2 .imgEnds{
	width:100%;
}

#slide3 p, #slide3 ul, #slide4 p{
	font-family: 'acanthus_ssiregular', serif;
	font-size: 1.7em;

}

#slide3{
	background-color: #080808;
	color: rgba(236, 240, 241,1.0);
}

#slide3 .first{
	padding-left: 85px;
}

#slide4{

}


/**************************
		Media Query
***************************/
@media (min-width: 1171px){
	#slide1{
		padding: 75px 150px;
	}
	 #slide1 p{
		font-size: 2em;
	}
	#slide1 h1
	{
		font-size: 6em;
		text-align: center;
	}

	#slide2 .imgEnds{
		width:17%;
	}


	/*#slide3{
		font-size: 2em;
	}*/

	/*.carousel{
		margin-right: 15%;
	}*/

	#slide2, #slide3, #slide4{
		padding: 0px 100px 50px 100px;
	}
}
/*@media (min-width: 980px){
	#slide3 .first{
		padding-left: 85px;
	}
}*/

@media (max-width: 1170px){
	#slide1{
		background-image: url("../images/LookinFlyandNarrow.png");
		background-position: bottom right;
		background-repeat: no-repeat;
		background-size: 600px;
		padding: 75px 75px;
	}
	#slide1 h1, #slide1 p{
		width:60%;
		font-size: 1.8em;
	}

	#slide1 img{
		width: 60%;
	}

	#slide1 h1
	{
		font-size: 4em;
		text-align: center;
	}
	#slide2, #slide3, #slide4{
		padding: 0px 100px 50px 100px;
	}

	.carousel{
		margin-left: 15%;
	}
	
}

@media (max-width: 1010px){
	#slide1{
		padding: 75px 50px;
	}

	#slide1 h1, #slide1 p{
		width:45%;
		font-size: 1.7em;
	}

	#slide1 img{
		width: 45%;
	}

	#slide1 h1
	{
		font-size: 3.5em;
		text-align: center;
	}


	.carousel-caption{
		display: none;
	}
		
}

@media(max-width: 818px){
	.navbar-inverse .navbar-nav > li > a {
		font-size: 2em;
	}
}

@media (max-width: 769px){
	#slide1{
		background-image: url("../images/LookinFlyandNarrowandPale.png");
		background-color: #7a7a7a;
		padding: 20px 20px;
	}

	#slide1 h1, #slide1 p{
		width:100%;
		color: #080808;
		font-size: 2em;
	}

	#slide1 h1
	{
		font-size: 3.5em;
		text-align: center;
	}

	#slide1 img{
		width: 100%;
	}	

	/*#slide3{
		font-size: 1.2em;
	}*/

	#slide3 ul{
		margin-right: 25px;
	}
	#slide2, #slide3, #slide4{
		padding: 0px 20px 20px 20px;
	}
}

@media (max-width: 606px){

	#slide1 h1, #slide1 p{
		font-size: 1.8em;
	}

	#slide1 h1{
		font-size: 3em;
	}

	#slide3 ul{
		margin-right: 25px;
	}
}

@media (max-width: 410px){
	#slide3{
		font-size: 1em;
	}
	#slide3 .first{
		padding-left: 50px;
	}
}

