html,body{
	width: 100%;
	height:auto;
}
body{
	font-family: 'Questrial', sans-serif;
/*	color:black;
*/}

h1{
	font-family: 'Playfair Display', serif;
}

.banner1{
	color:white;

}

.navbar{
	padding-top: 10px;
	height: 70px;
	font-size: 18px;
	padding-right: 5px;
}

.info{
	padding: 20px 50px;



}

.media-object{
	max-width: 150px;
}

a, a:link {
	color:rgba(39, 174, 96,1.0);
	text-decoration: none;
	font-weight: bold;
}

a:visited{
	color:rgba(39, 174, 96,1.0);
}

a:hover, a:active{
	color:rgba(192, 57, 43,1.0);
	text-decoration: none;
}

.video{
	text-align: center;
}

.navbar .collapse{
	padding-right: 20px;
}

.social, .socialMedia{
	text-align: center;
}

.teampic{
	margin-bottom: 20px;
}

/*Slides*/

.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
/*	position: relative;
*/	box-shadow:inset 0px -10px 10px rgba(0,0,0,0.3);
	padding: 40px 20px;
	font-size: 22px;

}

.slide h1{
	text-align: center;
	font-size: 50px;
	padding-bottom: 30px;

}

.banner{
	font-size: 80px;
}

.wrapper{
	width:960px;
	height:220px;
	margin:0 auto;
	position:relative;
}

.title{
	font-size: 1.5em;
	text-align: center;
}

.table-bordered {
  border: 1px solid #ADB6A8;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ADB6A8;
}

.table-bordered th{
	text-align: center;
}
/******************************
 SLIDE 1 
*******************************/
#slide1{
	margin-top: 55px;
/*	background-color:rgba(52, 73, 94,1.0);
*/	background-image: url('../images/rugbypitch.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	color:white; 


}

@media (max-width: 768px){
	#slide1{
	/*background-color: #27ae60;*/
	background-image: url('../images/rugbypitch.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	}
}
#slide1 .info{
	margin: 20% 10%;
	padding: 20px;
	/*background-color: rgba(236, 240, 241,.8);
	border-radius: 20px;*/
}

.logo{
	z-index: 30;
	position:relative;
	width: 200px;
	top: -100px;
	left: 45%;
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
	padding-top: -30px;
	background-image:url("../images/wavecut/wavecut_@2X.png");
	background-repeat: repeat;
	background-position: center;

}

#slide2 .info{
	/*background-color: rgba(236, 240, 241,.9);
	border-radius: 20px;
	border:dotted 4px rgba(127, 140, 141,.5);*/
	font-size: 22px;
}



#slide2, #slide2 h1{
	color: rgba(44, 62, 80,1.0);
}



/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-color:rgba(0,96,0, 0.5);
	background-image: url("../images/worn_dots/worn_dots_@2Xgreen.png");
	background-repeat: repeat;
	background-position: center;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.3);

}

#slide3 a, #slide3 a:link{
	color:rgba(241, 196, 15,1.0);
}

/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-image: url("../images/silver_scales/silver_scales_@2X.png");
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

#slide4 .info{
	color:rgba(59, 23, 35, 1.0);
	font-size: 20px;
	
}

#slide4 h1{
	color:rgba(59, 23, 35, 1.0);

}


/******************************
 SLIDE 5 
*******************************/

#slide5 .box{
	padding-top: 20%;
}

/*******************************
		Media Queries
********************************/

@media (max-width: 992px){
	.contact h2{
		text-align: center;
	}

	.contact{
		border-top: 2px solid black;
		text-align: left;
	}

	.video{
		width:70%;
		height:50%;
	}

	
}

@media (max-width: 768px){
	.navbar-default {
		background-color: #222222;
	}

	.narbar-inverse .collapse .navbar-link  li:link, .narbar-default .navbar-nav li:active {
		background-color: green;
		color:red;
	}
}
@media(max-width: 400px){
	
	#slide1{
		background-image: url('../images/smallrugbypitch1.jpg');
		background-position: center;
		background-repeat: no-repeat;
		/*background-size: 1300px auto;*/
	}
	
	#slide2 .info{
		font-size: .8em;
	}

	#slide2 .info h2{
		font-size: 1em;
	}

	.contact h2{
		text-align: center;
	}

	.contact{
		border-top: 2px solid black;
		text-align: left;
	}
	
	.media-object{
		max-width: 50px;
		width:100%;
	}

	.media-body{
		font-size: .8em;
	}

	#slide3 h1{
		font-size: 1.2em;
	}

	#slide3 h2{
		font-size: 1.2em;
	}

	#slide3 li{
		font-size: .8em;
	}

	.video{
		 width: 100%;
		 height: 50%;
	}

}


/****************************
       Schedule Page
*****************************/
.schednmaps{
	background-image: url("../images/whitey/whitey.png");
	background-repeat: repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.schedule{
	padding-top: 70px;
	min-height: 990px;
	font-size: 1.2em;
	background-image: url('../images/grey_wash_wall/grey_wash_wall_@2X.png');
	background-repeat: repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:white;
}

.schedule h1{
	color:white;
}

.schedule a, .schedule a:link{
	color:black;
}

.schedule a:visited{
	color:black;
}

#scheduleTab li{
	border-radius: 5px;
	border-top:1px solid white;
	border-right:1px solid white;
	border-left:1px solid white;
}

#scheduleTab li{
	border-right:1px solid white;
	border-left:1px solid white;
}

.tab-content{
	margin-top: 0px;
}



	

.table-bordered{
	border-radius: 10px;
	border:2px solid white;
	
}

iframe{
	border-radius: 5px;
	border:5px solid white;
}



/****************************
       Roster Page
*****************************/
.roster{
	padding-top: 70px;
	font-size: 1.2em;
	background-image: url('../images/grey_wash_wall/grey_wash_wall_@2X.png');
	
}

.roster .info{ 
	background-image: url("../images/whitey/whitey.png");
	height:900px;
	margin-bottom: 50px;
}

.roster .table-bordered{
	border:1px solid #7f8c8d;
}

.roster .nav-tabs:hover{
	color:#7f8c8d;
}


@media(max-width: 400px){
	.info{
		font-size: .6em;
	}
}

